@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@config "../tailwind.config.js";

body {
  font-family: 'Inter', sans-serif;
  color: #222222;
  background-color: #FFFFFF;
}